<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="pl">
	<div class="pl-wrap">
		<div class="mist"></div>
		<div class="pl-margin"></div>
		<div class="pl-logo"></div>
		<div class="pl-title">隐私和政策</div>
		<div class="pl-line"></div>
		<div class="pl-article">
			<p>非常感谢您使用山茶花！</p>
			<p>此条款适用于您登陆和使用山茶花平台的全部产品和服务。请仔细地阅读此服务条款，如果有任何问题，欢迎联系山茶花团队。登陆和使用山茶花的产品和服务视为同意遵守我们的隐私政策。</p>
			<div class="pl-end"></div>

			<p class="bold">安全性</p>
			<p>山茶花十分注重我们会员的帐户安全，山茶花团队竭尽全力地保障您的用户体验。但是我们无法保证未经授权的第三方（如黑客）不会造成山茶花系统的疏漏。一旦您发现帐户异常，请及时与山茶花团队联系。</p>
			<div class="pl-end"></div>

			<p class="bold">信息收集与使用</p>
			<p>我们收集某些必要的个人信息，以创建和支持您的账户，向您提供方服务，以及改进我们产品的功能和可用性。同时掌握这些个人信息也使我们能够向您发送产品公告、软件更新和特价优惠信息。用户可以在设置中随时查看并修改其个人信息。</p>
			<div class="pl-end"></div>

			<p class="bold">对第三方的信息披露</p>
			<p>当您使用第三方平台登录山茶花时，我们将对该等信息严格保密。我们不会与他人分享这些信息，亦不会将其出售、出租或以其他方式分发给他人。</p>
			<div class="pl-end"></div>

			<p class="bold">会员承诺</p>
			<p>会员以各种方式使用山茶花产品和服务（包括但不限于发布、转发、浏览及利用山茶花和山茶花会员发布的内容）的过程中，不得以任何方式利用山茶花直接或间接从事违反法律法规、以及社会公德的行为，且山茶花会员应当恪守下述承诺：</p>
			<p>1. 发布、采集或提供的内容符合法律法规、社会公德；</p>
			<p>2. 发布、采集或提供的内容不得侵害正当权利人之权利；</p>
			<p>3. 不得干扰、损害和侵犯山茶花的各种合法权利与利益；</p>
			<p>4. 遵守山茶花以及与之相关的网络服务条款和隐私政策等。</p>
			<p>山茶花有权对违反上述承诺的内容予以删除。</p>
			<div class="pl-end"></div>
		</div>
	</div>
	<div class="pl-copy">Copyright © 2012-2015 北京山茶花科技有限公司 | 京ICP备13022251号-2</div>
</body>
</html>
