<!DOCTYPE HTML>
<html class="full">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/base.css">
<title></title>
</head>
<body class="ready full">
	<div class="rd-head">
		<div></div>
		<a href="app.html">App 下载</a>
	</div>
	<div class="rd-body">
		<div class="rd-wrap center">
			<div class="mist"></div>
			<p class="rd-t1">工程师正在努力开发</p>
			<p class="rd-t2">“即将上线 敬请期待”</p>
			<div class="rd-line"></div>
			<p class="rd-t3">Camelia山茶花 从约会到职场 精致女性的轻奢消费美学</p>
		</div>
		<p class="rd-copy">Copyright © 2012-2015 北京山茶花科技有限公司 | 京ICP备13022251号-2</p>
	</div>
</body>
</html>
